<nav class="navbar navbar-expand-md navbar-light">
    <a href="#" class="navbar-brand" >
    YOUR REGION
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <a routerLink="/user/login" class="nav-item nav-link" >LOG IN</a>
            <span class="nav-item nav-link">|</span>
            <a routerLink="/user/registration" class="nav-item nav-link" >SIGN UP </a>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <a routerLink="/user/login" class="nav-item nav-link" (click)="onLogout()">LOG OUT</a>
        </div>
    </div>
  </nav>
   <div class="card m-5" style="width:18rem" *ngIf="userDetails">
    <ul class="list-group">
      <li class="list-group-item"><strong>Username : </strong>{{userDetails.firstName}}</li>
      <li class="list-group-item"><strong>FullName : </strong>{{userDetails.email}}</li>
      <li class="list-group-item"><strong>Email : </strong>{{userDetails.userName}}</li>
    </ul>
  </div>

  <ul>
    <li *ngFor="let userDetail of userDetails">
        {{userDetail.firstName}}
        {{userDetail.email}}
        {{userDetail.userName}}
      </li>
  </ul>